audio {
    border-radius: inherit;
    vertical-align: middle;
    width: 100%;
}

.Playlist {
  height: 500px;
}

.header {
   display: flex;
   margin: 1em 1em;
   .title {
     align-content: center;
   }
}

.dragZone {
  height: 100%;
  background-color: #ff9;
}
